<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Announcement!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Announcement!</ion-title>
    </ion-toolbar>
  </ion-header>

  
<!-- start -->
<!-- List of Text Items -->
<!-- <ion-list>
  <ion-item *ngFor="let data of datax">
    <ion-label>{{data.name}} | {{data.status}}</ion-label>
  </ion-item>
  
</ion-list> -->
<!-- end  -->


<!-- announcement  -->
<ion-card  *ngFor="let data of datax">
    
  <ion-card-header>
    <!-- <ion-card-subtitle>PHASE : {{data.phase}} </ion-card-subtitle> -->
    <ion-card-title>Announcement : {{data.title}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <!-- <p>{{extractorwow(dd.details)}}</p> -->
    <p>{{data.descript}}</p>
    <p>{{data.date}}</p>
    <!-- <ion-button href="/lectureview/{{data.id}}">View More</ion-button> -->
  </ion-card-content>
</ion-card>
<!-- end announcement    -->

</ion-content>
