<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Submitted by
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small">Submitted by</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-card>
    <ion-card-header>
      <img src="../../assets/images/roben.jpg" alt="">
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title>Roben Leviticus Guaring</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>
      <!-- Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia alias eligendi ab fuga? Magni quaerat officia quisquam iure, exercitationem at unde consectetur atque itaque odio ab vitae voluptas? Voluptas, sequi.</p> -->
      <!-- <ion-icon name="logo-facebook"></ion-icon> -->
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="../../assets/images/abby.jpg" alt="">
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title>Abigail G. Tugaoen</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>
      <!-- Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia alias eligendi ab fuga? Magni quaerat officia quisquam iure, exercitationem at unde consectetur atque itaque odio ab vitae voluptas? Voluptas, sequi.</p> -->
      <!-- <ion-icon name="logo-facebook"></ion-icon> -->
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="../../assets/images/abbysister.jpg" alt="">
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title>Precious G. Tugaoen</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>
      <!-- Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia alias eligendi ab fuga? Magni quaerat officia quisquam iure, exercitationem at unde consectetur atque itaque odio ab vitae voluptas? Voluptas, sequi.</p> -->
      <!-- <ion-icon name="logo-facebook"></ion-icon> -->
    </ion-card-content>
  </ion-card>
  
</ion-content>
