<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      NSTP LECTURE VIEW
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" style="z-index:9999999999 !important;">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">NSTP LECTURE VIEW</ion-title>
    </ion-toolbar>
  </ion-header>
<!-- Default Refresher -->

 
  <ion-card  *ngFor="let data of datax">
    
    <ion-card-header>
      <!-- <ion-card-subtitle>PHASE : {{data.phase}} </ion-card-subtitle> -->
      <ion-card-title>WEEK : {{data.phase}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <!-- <p>{{extractorwow(dd.details)}}</p> -->
      <ion-button href="/lectureview/{{data.id}}">View More</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
