<ion-header>
  <ion-toolbar>
    <ion-title>lectureview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card *ngFor="let data of datax">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>PHASE: {{data.phase}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      

      <p>{{data.content}}</p>

      <a download href="{{dataxx}}uploads/{{data.file}}">
        <ion-button expand="block">View Module</ion-button>
      </a>

      <a download href="{{dataxx}}uploads/{{data.file}}">
        <ion-button expand="block">View Presentation</ion-button>
      </a>


      <a href="{{data.video}}">
        <ion-button expand="block">View Video</ion-button>
      </a>
      <a href="/tabs/tab1">
      <ion-button expand="block">Back to Lecture</ion-button>
      </a>
    </ion-card-content>
  </ion-card>



</ion-content>
